.card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #ffb3c7;
    border-radius: 10px;
    color: white;
}

.header {
    text-align: center;
}

.list {
    padding: 10px;
}

.list > * {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.itemHeader {
    font-size: 40px;
    font-weight: bolder;
    margin: 15px;
    width: 40%;
    text-align: center;
}

.itemText {
    width: 60%;
}
