.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: arial;
    color: white;
    background: inherit;
    cursor: pointer;
}

.button {
    width: calc(33.3% - 10px);
    text-align: center;
    background: rgba(170, 170, 170, 0.47);
    margin-bottom: 10px;
    border-radius: 8px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
